#circle-one {
    border: red solid 1px;
    margin: 10px 1px 10px 1px;
    width: 10%;
    display: flex;
    flex-direction: column;
}
#Circle-two {
    border: blue solid 1px;
    margin: 10px 1px 10px 1px;
    width: 10%;
    display: flex;
    flex-direction: column;
}
#Circle-three {
    border: solid green 1px;
    margin: 10px 1px 10px 1px;
    width: 10%;
    display: flex;
    flex-direction: column;
}
input {
    width: 80%;
    display: flex;
    margin: 5% auto;
    text-align: center;
    display: flex;
}
p {
    display: flex;
    justify-content: center;
}